# Core Web Framework
streamlit

# High-Performance Data Handling
pandas
polars
numpy

# Statistical Calculations
scipy

# Visualizations
plotly
kaleido==0.2.1

# Database Connectivity
sqlalchemy
mysql-connector-python

# PDF Reporting Engine
reportlab
